@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); 

@font-face {
    font-family: 'Kenyan Coffee Rg';
    src: url('../fonts/KenyanCoffeeRg-BoldItalic.woff2') format('woff2'),
        url('../fonts/KenyanCoffeeRg-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kenyan Coffee Rg';
    src: url('../fonts/KenyanCoffeeRg-Bold.woff2') format('woff2'),
        url('../fonts/KenyanCoffeeRg-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kenyan Coffee Rg';
    src: url('../fonts/KenyanCoffeeRg-Italic.woff2') format('woff2'),
        url('../fonts/KenyanCoffeeRg-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'VALORANT';
    src: url('../fonts/VALORANT-Regular.woff2') format('woff2'),
        url('../fonts/VALORANT-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kenyan Coffee Rg';
    src: url('../fonts/KenyanCoffeeRg-Regular.woff2') format('woff2'),
        url('../fonts/KenyanCoffeeRg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




html{
	font-size: 62.5%;
}
body{	
	font-size: 1.6rem; 
	font-weight: 400; 
	background: #080A0B;
	overflow-x: hidden;
	font-family: "Open Sans", sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
ul li a,a{
	text-decoration: none;
}
/*======================  Start Page  ======================*/

.logo a img {
	width: 98px;
}

.header_area {
	padding: 40px 0;
	position: absolute;
	z-index: 9999;
	width: 100%;
}

.banner_area { 
	overflow: hidden;
}

.menu ul li a {
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	transition: 0.3s;
}

.menu ul li a:hover {
	color: #3DB3A2;
}

.header_social ul li a img {
	width: 32px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu ul {
	display: flex;
	gap: 50px;
}

.header_social ul {
	display: flex;
	gap: 20px;
	align-items: center;
}

.header_social ul li:last-child a img {
	width: 28px;
}

.header_social ul li a{
	transition: 0.3s;
}

.header_social ul li a:hover img{
	opacity: 0.83;
}

.header_social ul li span {
	height: 32px;
	width: 2px;
	background: #fff;
	display: inline-block;;
	transform: translateY(4px);
}

.banner_text_title h2 {
	font-size: 105px;
	font-family: 'VALORANT';
	text-transform: uppercase;
	color: #fff;
}

.color_pri{ 
	color: #3DB3A2;
}

.banner_text_title img {
	width: 151px;
}

.banner_text_title {
	display: flex;
	align-items: center;
	justify-content: center;
}

.banner_text{
	position: relative;
	z-index: 99;
}

.banner_text p {
	font-size: 40px;
	color: #fff;
	font-family: "Bebas Neue", sans-serif;
	font-style: italic; 
	width: 790px;
	line-height: 43px;
	margin: 36px auto 90px auto;
}

.btn_1 {
	padding: 20px 45px;
	background: #264047;
	border: 1px solid #3DB3A24A;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	transition: 0.3s;
	display: inline-block;
	border-radius: 5px;
	text-transform: uppercase;
}

.btn_1:hover {
	opacity: 0.83;
	color: #fff;
}

.banner_text {
	text-align: center; 
}

.down_arrow {
	padding: 115px 0 125px 0;
}

.down_arrow a {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}

.down_arrow img {
	width: 36px;
}

.down_arrow a {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 8px;
}

.banner_area{
	position: relative;
	padding-top: 337px;
}

.banner_area::after {
	position: absolute;
	content: '';
	background: #151821;
	top: 0;
	left: 0;
	z-index: 9;
	width: 100%;
	height: 100%;
	opacity: 0.9;
}

.banner_video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 8; 
}


.banner_video video { 
	width: 100%; 
}

.section_padding {
	padding: 100px 0;
}

.strick_area{
	background: url(../images/strike/bg.jpg) no-repeat scroll center center / cover;
}

.newsletter_content h4,
.section_title h4,
.feature_phase h4,
.strike_text h4 {
	font-size: 30px;
	font-weight: 400;
	font-family: "Bebas Neue", sans-serif;
	color: #fff;
}

.newsletter_content h2,
.section_title h2,
.feature_phase h2,
.strike_text h2 {
	font-size: 100px;
	font-weight: 400;
	font-family: "Bebas Neue", sans-serif;
	color: #fff;
}

.strike_second_box p {
	font-size: 20px;
	color: #fff;
	line-height: 39px;
	margin-bottom: 49px;
}

.strike_second_box {
	width: 100%;
	max-width: 482px;
	margin-left: 153px;
	margin-top: 45px;
}

.strike_carousel_item img {
	width: 565px !important;
	margin: 0 auto;
}

.strike_second_btn,
.strike_carousel_item {
	text-align: center;
}

.strike_second_box p span {
	border-bottom: 3px solid #3DB3A2;
}

.strick_carousel {
	position: relative
}

.owl-prev img {
	width: 34px !important;
}

.strick_carousel .owl-next img ,
.strick_carousel .owl-prev img {
	width: 34px !important;
}

.strick_carousel .owl-prev {
	position: absolute;
	top: 41%;
	left: 0;
}

.strick_carousel .owl-next {
	position: absolute;
	top: 41%;
	right: 0;
}

.feature_img img {
	width: 100%;
}

.feature_area{
	position: relative;
}

.feature_area{
	background: url(../images/feature/bg.png) no-repeat scroll center center / cover;
}

.feature_box_img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 8;
}

.tokenomics_area{
	background: url(../images/tokenomics/bg.png) no-repeat scroll center center / cover;
}


.section_title h4, 
.section_title h2 {
	text-align: center;
}


.tokenomics_table h4 {
	font-size: 24px;
	font-weight: 400;
	color: #3DB8A5;
	text-transform: uppercase;
	font-family: "Bebas Neue", sans-serif;
}

.tokenomics_table p {
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	margin-bottom: 25px;
}

.tokenomics_table td {
	border: 1px solid #ddd;
	padding: 14px 15px;
	width: 50%;
}

.tokenomics_table {
	margin-top: 81px;
}

.token_btn {
	text-align: center;
	margin-top: 40px;
}


.tokenomics_table {
	margin-top: 81px;
	width: 100%;
	max-width: 573px;
}

.token_span {
	font-size: 10px !important;
} 

.newslatter_img img {
	width: 100%;
}

.newsletter_content p {
	font-size: 24px;
	font-weight: 400;
	color: #fff;
	margin-bottom: 100px;
}

.newsletter_subscribe input {
	background: #979797;
	border: none;
	padding: 20px;
	width: 100%;
	max-width: 364px;
	border-radius: 5px;
	color: #Fff;
	font-size: 14px;
}

.newsletter_subscribe button {
	padding: 20px 71px;
	border: none;
	border-radius: 5px;
	background: #3DB8A5;
	font-weight: 700;
	font-size: 16px;
	color: #1A1917;
	transition: 0.3s;
}

.newsletter_subscribe button:hover{
	opacity: 0.83;
}

.newsletter_subscribe {
	display: flex;
	gap: 20px;
}

.newsletter_area {
	background: #07090A;
}


.footer_copy_text {
	font-size: 14px;
	color: #868686;
}

.footer_copy_link {
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: flex-end;
}

.footer_copy_link a{
	color: #fff; 
}

.footer_copy {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 25px 0 114px 0;
	padding-top: 25px;
	border-top: 1px solid #202020;
}


.footer_area {
	background: #07090A;
}

.accordion-button {
	background: transparent; 
	border: none !important;
	text-align: left;
	margin-top: 30px;
	color: #3DB3A2 !important;
	font-size: 50px;
	font-family: "Bebas Neue", sans-serif;
}

button:focus {
	outline: none; 
}

.acordion_tabs ul {
	list-style: disc;
	margin-left: 18px;
}

.acordion_tabs ul li p{ 
	font-size: 18px;
	color: #fff;
}

.strick_carousel .owl-next:hover {
	background: transparent !important; 
}

.strick_carousel .owl-prev:hover {
	background: transparent !important; 
}

.strick_carousel .owl-dot span {
	width: 15px !important;
	height: 15px !important;
	background: transparent !important;
	border: 1px solid #ddd;
}

.strick_carousel .owl-dot.active span {
	background: #fff !important;
	margin-right: 30px !important;
	position: relative;
}

.strick_carousel .owl-dot.active span::after {
	position: absolute;
	content: '';
	right: -24px;
	width: 25px;
	height: 1px;
	background: #fff;
	top: 6px;
}

@keyframes jumpInfinite {
	0% {
	  margin-top: 0;
	}
	50% {
	  margin-top: 10px;
	}
 
	100% {
	  margin-top: 0;
	}
  }

  .down_arrow a {
	position: relative;
  }

  .down-arrows {
	animation: jumpInfinite 1.5s infinite;
	position: absolute;
	top: 26px;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
}

.mobile_bars {
	display: none;
}



.footer_social ul li a img {
	width: 32px;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer_menus ul {
	display: flex;
	gap: 50px;
}

.footer_social ul {
	display: flex;
	gap: 20px;
	align-items: center;
}

.footer_social ul li:last-child a img {
	width: 28px;
}

.footer_social ul li a{
	transition: 0.3s;
}

.footer_social ul li a:hover img{
	opacity: 0.83;
}

.footer_social ul li span {
	height: 32px;
	width: 2px;
	background: #fff;
	display: inline-block;;
	transform: translateY(4px);
}

.footer_menus ul li a {
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	transition: 0.3s;
}

.footer_menus ul li a:hover {
	color: #3DB3A2;
}

/* sdsndjsbd  */


.footer_menus ul li a {
	font-size: 12px; 
}

.footer_area .logo a img {
	width: 193px;
}

.footer_social ul li a img {
	width: 21px;
}

.footer_social ul li:last-child a img {
	width: 18px !important;
}


.banner_video { 
	height: 100%;
}
.banner_video video {
	width: 100%;
	width: 100%;
	height: 100%;
	min-width: initial;
	min-height: initial;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}





/*======================  End Page  ======================*/

/* 
font-family: "Open Sans", sans-serif;
font-family: "Bebas Neue", sans-serif;
font-family: 'VALORANT'; 
font-family: 'Kenyan Coffee Rg';
 */


